<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<div id="map">
  <%= link_to image_tag("map.jpg", alt: "Map of Sahara", width: "760", height: "600") %>
  <h3> We are approximately here</h3>
  <h5> You should very strong knock in the rails!</h5>
</div>
