<% provide(:title, 'Home') %>
<h1>Sahara Public Library</h1>

<div class="center hero-unit">
  <h1>Welcome to the Sahara Public Library</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag('rsz_1camel.jpg', alt: 'Camel'), 'http://rubyonrails.org/' %>

